/* Fuentes */

@font-face {
    font-family: "Avenir";
    src: url('../fonts/Avenir-Book.ttf')
}

/* Reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generales */

html {
    font-size: 20px;
}

body {
    font-family: "Avenir", sans-serif;
    color: #67666e;
}

/* Hero */

@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    25% {
        opacity: 1;
        transform: scale(1.2);
    } 
    75% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.hero div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: heroAnimation 18s infinite;
}

.hero div:nth-child(1) {
    background-image: url('../img/front1.jpg');
}

.hero div:nth-child(2) {
    background-image: url('../img/front2.jpg');
    animation-delay: 6s;
}

.hero div:nth-child(3) {
    background-image: url('../img/front3.jpg');
    animation-delay: 12s;
}

.hero .hero-logo {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 30%;
    height: auto;
}

/* Header */

header {
    background-color: white;
    box-shadow: 1.5px 1.5px 4px rgb(179, 179, 179);
    height: 80px;
}

header img {
    height: 60px;
    width: auto;
}