/* Fuentes */

@font-face {
    font-family: "Avenir";
    src: url('../fonts/Avenir-Book.ttf')
}

/* Reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/* Generales */

html {
    font-size: 20px;
}

body {
    font-family: "Avenir", sans-serif;
    color: #67666e;
}

/* Hero */

@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    12% {
        opacity: 1;
    }
    25% {
        transform: scale(1.2);
    } 
    75% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.hero div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: heroAnimation 18s infinite;
}

.hero div:nth-child(1) {
    background-image: url('../img/front1.jpg');
}

.hero div:nth-child(2) {
    background-image: url('../img/front2.jpg');
    animation-delay: 6s;
}

.hero div:nth-child(3) {
    background-image: url('../img/front3.jpg');
    animation-delay: 12s;
}

.hero .hero-logo {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 30%;
    height: auto;
}

.hero .hero-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;
}

@keyframes intermitente {
    0% {opacity: 1}
    50% {opacity: 0.2}
    100% {opacity: 1}
}

.hero .hero-down img {
    width: 100%;
    height: auto;
    animation: intermitente infinite 2.5s;
}

/* Header */

header {
    background-color: white;
    box-shadow: 1.5px 1.5px 4px rgb(179, 179, 179);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header.white {
    background-color: transparent;
    box-shadow: none;
}

header img {
    height: 60px;
    width: auto;
}

header nav a {
    margin-left: 1em;
    transition: 300ms ease-in-out;
}

header.white nav a {
    color: rgba(255, 255, 255, 0.9);
}

header nav a.activo,
header nav a:hover {
    color: #a97c50;
    font-weight: bold;
}

header.white nav a.activo,
header.white nav a:hover {
    color: white;
}