/* Fuentes */

@font-face {
    font-family: "Avenir";
    src: url('../fonts/Avenir-Book.ttf')
}

/* Reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/* Generales */

html {
    font-size: 20px;
}

body {
    font-family: "Avenir", sans-serif;
    color: #67666e;
}

h1 {
    font-size: 1.5rem;
    padding-bottom: 1em;
}

p {
    padding-bottom: 1em;
}

p.centrador {
    display: flex;
    align-items: center;
}

p.copyright {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 0.8rem;
}

img.responsive {
    max-width: 100%;
}

/* Hero */

@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    12% {
        opacity: 1;
    }
    25% {
        transform: scale(1.2);
    } 
    75% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.hero div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: heroAnimation 18s infinite;
}

.hero div:nth-child(1) {
    background-image: url('../img/front1.jpg');
}

.hero div:nth-child(2) {
    background-image: url('../img/front2.jpg');
    animation-delay: 6s;
}

.hero div:nth-child(3) {
    background-image: url('../img/front3.jpg');
    animation-delay: 12s;
}

.hero .hero-logo {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 30%;
    height: auto;
}

.hero .hero-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;
}

@keyframes intermitente {
    0% {opacity: 1}
    50% {opacity: 0.2}
    100% {opacity: 1}
}

.hero .hero-down img {
    width: 100%;
    height: auto;
    animation: intermitente infinite 2.5s;
}

/* Header */

header {
    background-color: white;
    box-shadow: 1.5px 1.5px 4px rgb(179, 179, 179);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 500ms ease-in-out;
}

header.white {
    background-color: transparent;
    box-shadow: none;
}

header img.white {
    display: none;
}

header img.normal {
    display: block;
}

header.white img.white {
    display: block;
}

header.white img.normal {
    display: none;
}

header img {
    height: 60px;
    width: auto;
}

header nav a {
    margin-left: 1em;
    transition: 300ms ease-in-out;
}

header.white nav a {
    color: rgba(255, 255, 255, 0.9);
}

header nav a.activo,
header nav a:hover {
    color: #a97c50;
    font-weight: bold;
}

header.white nav a.activo,
header.white nav a:hover {
    color: white;
}

/* Burger */

#burger {
    position: fixed;
    top: 24px;
    left: 16px;
    z-index: 3;
    cursor: pointer;
    display: none;
}

.barra {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: all 700ms ease-in-out;
}

#burger.abierto .barra {
    background-color: white;
}

#burger.abierto .barra.arriba {
    transform: translateY(8px) rotateZ(45deg);
}

#burger.abierto .barra.media {
    width: 0;
}

#burger.abierto .barra.abajo {
    transform: translateY(-8px) rotateZ(-45deg);
}

@media (max-width: 620px) {

    header {
        justify-content: flex-end;
    }

    header nav {
        display: none;
    }

    #burger {
        display: block;
    }
}

/* Menú */

.menu {
    width: 360px;
    height: 100vh;
    background-color: #424242;
    position: fixed;
    top: 0;
    left: -360px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 700ms all ease-in-out;
}

.menu.abierto {
    left: 0;
}

.menu nav {
    margin-top: 80px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.menu nav a {
    padding: 0.6em 0;
    color: rgba(255, 255, 255, 0.9);
    transform: translateX(-360px);
}

.menu nav a.activo,
.menu nav a:hover {
    color: white;
    font-weight: bold;
}

.menu nav hr {
    background-color: rgba(255, 255, 255, 0.9);
    height: 0.5px;
    width: 50%;
    transform: translateX(-360px);
}

.menu nav a:nth-child(1) {
    transition: transform 700ms ease-in-out;
}

.menu nav hr:nth-child(2) {
    transition: transform 850ms ease-in-out;
}

.menu nav a:nth-child(3) {
    transition: transform 1000ms ease-in-out;
}

.menu nav hr:nth-child(4) {
    transition: transform 1150ms ease-in-out;
}

.menu nav a:nth-child(5) {
    transition: transform 1300ms ease-in-out;
}

.menu nav hr:nth-child(6) {
    transition: transform 1450ms ease-in-out;
}

.menu nav a:nth-child(7) {
    transition: transform 1600ms ease-in-out;
}

.menu nav a.abierto,
.menu nav hr.abierto {
    transform: translateX(0);
}



/* Layout */

.fila {
    display: flex;
    width: 100%;
    padding: 1rem;
}

.primera {
    margin-top: 100vh;
}

.primera-normal {
    margin-top: 80px;
}

#primera,
#legal,
#cookies {
    display: block;
    margin-top: -80px;
    padding-bottom: 80px;
}

.columna {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 1rem;
}

.columna.x2 {
    flex: 2;
}

.columna.x3 {
    flex: 3;
}

.m-l-small {
    margin-left: 0.5em;
}

.m-r-small {
    margin-right: 0.5em;
}

@media (max-width: 720px) {
    .fila {
        flex-direction: column;
    }
}

/* Footer */

footer {
    display: flex;
    background-color: #424242;
}

footer .columna:nth-child(3) {
    justify-content: space-between;
}

footer p {
    color: #ffffffe6;
    padding-bottom: 0.5em;
}

footer p:first-child {
    color: #a97c50;
    font-weight: bold;
}

footer p.justificados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer p.justificados img {
    height: 48px;
    margin: 12px;
}

footer a {
    font-size: 0.8rem;
    color: #d39c66;
}

footer a:hover {
    color: #a97c50;
}
